@import 'variables';

body {
  font-family: 'Open Sans Condensed', sans-serif;
}

.left {
  position: fixed;
  float: left;
  width: 35%;
  height: 100vh;
  background: url('/images/me.jpg') no-repeat;
  background-size: cover;
  opacity: 0.6;
}

.right {
  display: flex;
  flex-direction: column;
  float: right;
  width: 65%;
  height: 100vh;
  background-size: cover;
}

.header {
  position: absolute;
  width:100%;
  bottom: 7%;
}

.my-name {
  margin-right: 10px;
  text-align: right;
  font-size: 66px;
  font-weight: 700;
  color: $lightSection;
}

.my-title {
  color: $lightSection;
  margin-right: 10px;
  text-align: right;
  font-size: 48px;
}

// .triangle-down {
//   @include triangle;
//   border-top: 20px solid $darkSection;
// }

.top {
  background-color: $darkSection;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.39);
}

.welcome-text {
  margin: 20px;
  vertical-align: middle;
  padding: 20px;
  line-height: 115%;
  text-align: center;
  font-size: 24px;
  color: $fontColor;
}

.welcome-text-bottom {
  vertical-align: middle;
  padding: 20px;
  line-height: 115%;
  text-align: center;
  font-size: 24px;
  color: $lightSection;
}

.projects-btn {
  display: block;
  margin: 0 auto 20px;
  width: 200px;
  padding: 10px;
  font-size: 24px;
  background-color: $fontColor;
  color: $lightSection;
  outline: none;
  border: none;
  border-radius: 30px;
}

.projects-btn:hover {
  background-color: $hover;
}

.link {
  text-decoration: none;
}

.footer {
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: center;
}

.find-me, .github, .linkedin, .mail {
  display: inline-block;
  color: $lightSection;
}

.find-me {
  font-size: 24px;
}

.github, .linkedin, .mail {
  @include social-links;
}

.github:hover, .linkedin:hover, .mail:hover, .turing:hover {
  color: $hover;
}
